 $display: (
   block,
   contents,
   flex,
   grid,
   inherit,
   initial,
   inline-block,
   inline-flex,
   inline-grid,
   inline-table,
   inline,
   list-item,
   none,
   run-in,
   table-caption,
   table-cell,
   table-column-group,
   table-column,
   table-footer-group,
   table-header-group,
   table-row-group,
   table-row,
   table,
);
